[submodule "evo-auth-service-community"]
	path = evo-auth-service-community
	url = https://github.com/wizzcomms/evo-auth-service-community.git
	branch = wizz
[submodule "evo-ai-crm-community"]
	path = evo-ai-crm-community
	url = https://github.com/wizzcomms/evo-ai-crm-community.git
	branch = wizz
[submodule "evo-ai-frontend-community"]
	path = evo-ai-frontend-community
	url = https://github.com/wizzcomms/evo-ai-frontend-community.git
	branch = wizz
[submodule "evo-ai-processor-community"]
	path = evo-ai-processor-community
	url = https://github.com/EvolutionAPI/evo-ai-processor-community.git
[submodule "evo-ai-core-service-community"]
	path = evo-ai-core-service-community
	url = https://github.com/EvolutionAPI/evo-ai-core-service-community.git
[submodule "evolution-api"]
	path = evolution-api
	url = https://github.com/EvolutionAPI/evolution-api.git
[submodule "evolution-go"]
	path = evolution-go
	url = https://github.com/EvolutionAPI/evolution-go.git
[submodule "evo-bot-runtime"]
	path = evo-bot-runtime
	url = https://github.com/EvolutionAPI/evo-bot-runtime.git
